body {
    background-color: #222222;
    color: lightgrey;
    font-family: helvetica-neue, sans-serif;
}

h1 {
    margin-top: 100px;
    font-size: 3em;
    text-transform: uppercase;
    color: white;
}

p {
    font-size: 2em;
    line-height: 1.5;
    letter-spacing: 1px;
}

.Info {
    position: relative;
    top: 75px;
    background-color: #111111;
    margin-top: 10px;
    padding: 100px 50px;
    max-width: 1200px;
    width: 75%;
    margin: 0 auto;
    box-shadow: 3px 3px 12px black;
}

img {
    display: block;
    margin: 0 auto;
    width: 25%;

}

hr{
    background: linear-gradient(to right, #9900ff, #ff00d4);
  height: 6px;
    border: 0;
}